*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}

body{

    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    min-height: 100vh;
}

.container{
    width: 80%;
    padding: 25px;
    margin: 0 auto;
    text-align: center;
}

#container-box{
    margin-top: 12%;
}

.row{
    display: flex;
    justify-content: center;
    align-items: center;
}

 .col-md-4{
     flex-basis: 33%;
     margin-left: 50px;
 }

.navbar{
    background-color: #00ffff;
}

.navbar ul{
    list-style: none;
    display: flex;
    justify-content: center;
}

.navbar ul li a{
    text-decoration: none;
    margin-right: 50px;
    color: #111;
    font-weight: bold;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 2px;
    border: 1px solid transparent;
    padding:10px 15px;
    transition: all .3s ease-in-out;
}

.navbar ul li a:hover{
    border: 1px solid#fff;
    color: #fff;
}

.navbar-active{
    border: 1px solid#fff!important;
    color: #fff!important;
}

.container h1{
   font-size: 35px;
   margin: -50px 0 25px;
}

.card{
 
    margin: 10%;
    padding: 15px;
    border-radius: 10px;
    transition: all .3s ease-in-out;

}

.card:hover{
    background: #00ffff;
}

.card img{
    width: 100%;
    height: 200px;
    margin: 50px auto;
    display: block;

}

.card a{
    text-decoration: none;
    font-size: 18px;
}

/* FOOTER */

footer{
    background-color: rgb(187, 179, 179);
    width: 100%;
    padding: 25px 0;
    color: #fff;
    text-align: center;
    font-size: 16px;
     box-shadow: 0 0 10px 0 rgb(0 0 0 / 100%);
}

.footer-margin{
    margin-top: 250px;
}

/* MEDIa QUERIES */

@media only screen and (max-width:975px){
    .navbar ul li a{
        font-size: 15px;
        margin: 0;
    }
}


@media only screen and (max-width:768px){

    .navbar ul li a{
        font-size: 15px;
        margin: 0;
    }

    .row{
    flex-direction: column;
    }

    .col-md-4{
        flex-basis: 80%;
        margin-left: 0;
    }
}
    @media only screen and (max-width:710px){

        .navbar ul li {
            margin-top: 25px;
        }

        .navbar ul{
            flex-direction: column;
        }
        
    
      

}
